<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Siemens Test</title>
        <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    </head>
    <body>
        <div id="divv">
            <h1>PLC TEST</h1>
            <h1><%=name %></h1>
            <h1><%=array %></h1>
        </div>
        <div id="btn">
            <button id = "btnBIT">48.0</button>
        </div>
        <script>
            function refresh() {
                    $("#divv").load(window.location.href + "#divv");
                }
            setTimeout(() => {
                refresh();
            }, 500);
        </script>

    </body>
</html>