<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="css/style.css"/>
        <title>Siemens Test</title>
    </head>
    <body>
        <div class="container">
            <header>OVER VIEW</header>
            
            <div id="head">
                <h1>PLC TEST</h1>
                <h1><%=name %></h1>
                <h1><%=data1 %></h1>
                <h1><%=data2 %></h1>
            </div>
        </div>

    </body>
</html>