<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="css/style.css"/>
        <title>Siemens Test</title>
    </head>
    <body>
        <div class="container">
            <header>
                <nav>
                    <ul>
                        <li>Crane</li>
                        <li>Time</li>
                    </ul>
                    <ul>
                        <li>Hoist</li>
                        <li>Trolley</li>
                        <li>Gantry</li>
                    </ul>
                </nav>
                <main>OVER VIEW</main>
                <aside>test</aside>
            </header>
            <div class="alarm"></div>
            <div class="window">
                <nav>
                    <p>PLC TEST</p>
                    <h1><%=name %></h1>
                    <h1><%=data1 %></h1>
                    <h1><%=data2 %></h1>
                </nav>
                <div class="graphic">
                    <div class="bridge_wrapper">
                        <!-- <div class="crane"></div> -->
                        <div class="bridge"></div>
                        <div class="bridge"></div>
                    </div>
                    
                </div>

            </div>
        </div>
    </body>
</html>